version: v3
teleport:
  proxy_server: {{ teleport_cluster_domain }}:443

  join_params:
    method: token
    token_name: {{ teleport_token_app_service }}

  log:
    severity: INFO
    output: stderr

# Disable all services except app_service
auth_service:
  enabled: false

proxy_service:
  enabled: false

ssh_service:
  enabled: false

# Enable only the Application Service
app_service:
  enabled: true
  apps:
  - name: quotes
    uri: tcp://quotes-api:3000
    labels:
      env: agent-demo
      app: quotes
      type: api
      version: v1
      deployed: local-docker